/*this segment is related to the head and every thing that
related to it*/
.context_Mobile_accessory {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: black;
  
}
nav li{
    display: inline;
}
nav ul li a{
    width: 24px;
    height: 24px;
    top: 16px;
    color: black;
}
nav ul li:nth-child() a{
  left: 276px;
}


nav ul{
    display:inline;
}
a{
    color: green
}

a:hover {
    cursor:pointer;
  }
  
  /*This segment for the body and every thing that related to 
  the body*/

  body{
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255,255);
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}